/*--------------------------------------*/
/*BASIC SETUP*/
/*--------------------------------------*/


/* Orange Color : #e60 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color:#fff;
    color:#555;
    font-family: 'Lato', 'Ariel', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom:1}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*--------------------------------------*/
/*-----------REUSABLE COMPONENT---------*/
/*--------------------------------------*/

.row {
    width: 1140px;
    margin: 0 auto;

}

section {
    padding: 60px 0;
}

.box {
    padding: 1%;
}

/*-----------PARAGRAPH---------*/

.long_copy {
    line-height: 150%;
    width: 70%;
    margin-left: 15%;
    /* margin-right: 15%; */
}

.box p {
    font-size: 90%;
    line-height: 145%;

}

/*----------ICONS------------*/

.icon_big {
    font-size: 200%;
    display: block;
    color:#e60 ;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    font-size: 120%;
    width: 30px;
    text-align: center;
    color:#e60 ;
    margin-right: 10px;

    /* secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}


/*----------HEADING------------*/

h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 1px;
    

}

h2 {
    font-size: 180%;
    word-spacing: 3px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}

h3 {
    font-size: 110%;
    margin-bottom: 15px;

}

h2:after {
    display: block;
    height: 2px;
    background-color: #e60;
    content: "";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}


/*----------LINKS------------*/

a:link,
a:visited {
    color: #e60 ;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 7px;
    transition: border-bottom 0.2s , color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}


/*----------BUTTONS------------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 250px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn_full:link,
.btn_full:visited,
input[type=submit] {
    background-color: #e60;
    border: 1px solid #e60;
    color: #fff;
    margin-right: 20px;

}


.btn_ghost:link,
.btn_ghost:visited {
    border: 1px solid #e60;
    color: #e60;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #d35400;
    color: #fff;

}

.btn_full:hover,
.btn_full:active {
    border: 1px solid #d35400;
    color: #fff;

}

.btn_ghost:hover,
.btn_ghost:active {
    border: 1px solid #d35400;
    color: #fff ;
}



/*--------------------------------------*/
/*----------HEADER------------*/
/*--------------------------------------*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url('image/hero.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.logo {
    height: 120px;
    width: auto;
    float: left;
}

.main_nav {
    float: right;
    list-style-type: none;
    margin-top: 55px;
}

.main_nav li {
    display: inline-block;
    margin-left: 40px;

}

.main_nav li a:link,
.main_nav li a:visited {
    padding: 5px 0;
    margin-right: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition:border-bottom 0.2s;
}

.main_nav li a:hover,
.main_nav li a:active{
    border-bottom: 2px solid #e60;
}
/*--------------------------------------*/
/*----------FEATURES------------*/
/*--------------------------------------*/

.section_features,
.long_copy {
    margin-bottom: 30px;
}

/*--------------------------------------*/
/*----------MEALS------------*/
/*--------------------------------------*/

.section_meals {
    padding: 0;

}

.meals_showcase {
    width: 100%;
    list-style: none;
}

.meals_showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal_photo {
    width: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: #000;

}

.meal_photo img {
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform .5s;
    opacity: 0.7;
}


.meal_photo img:hover {
    transform: scale(1.03);
    opacity: 1;


}

/*--------------------------------------*/
/*----------HOW IT WORKS------------*/
/*--------------------------------------*/

 .section_steps {
    background-color: rgb(243, 242, 242);
    margin-top: -7%;
}


.steps_box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps_box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app_screen {
    width: 45%;
}

.works_step:last-of-type {
    margin-bottom: 70px;

}

.works_step {
    margin-bottom: 50px;
}

.works_step div {
    color: #e60 ;
    border: 2px solid #e60;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 130%;
    margin-right: 25px;
}


.btn_app:link,
.btn_app:visited {
    border: 0;
}


.btn_app img {
    height: 50px;
    width: auto;
    margin-right: 20px;
    
} 

.btn_app img a {
border-bottom: 0;
}



/*--------------------------------------*/
/*----------CITIES------------*/
/*--------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city_feature {
    line-height: 1.5;
}

/*--------------------------------------*/
/*----------TESTIMONIALS------------*/
/*--------------------------------------*/

.section-testimonials {
    background-image:linear-gradient(rgba(0, 0, 0, 0.87),rgb(0, 0, 0, 0.87)), url('image/back-customers.jpg');
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3PX;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 55px;
    width: auto;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*--------------------------------------*/
/*----------SIGN UP------------*/
/*--------------------------------------*/

.section_plans {
    background-color: rgb(243, 242, 242);
}

.plan_box {
    background-color: #fff;
    border-radius: 5%;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan_box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan_box div:first-child {
    background-color: #fcfcfc; /*   or  #f7f5f5ef */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan_box div:last-child {
    text-align: center;
    border: 0;
}

.plan_box li {
    list-style-type: none;
}

.plan_box li i {
    font-size: smaller;
    
}

.plan_price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 150;
    color: #e60;
}

.plan_price span {
    font-size: 40%;
    font-weight: 300;
}

.plan_price_meal {
    font-size: 80%;
}



/*--------------------------------------*/
/*---------- FORM ------------*/
/*--------------------------------------*/

form {
    font-size: 110%;
}


.contact_form {
    width: 100%;
    margin: 0  auto;
}


input[type=text],
input[type=email],
select,
textarea {
    width: 65%;
    padding: 4px;
    border-radius: 3px;
    border: 2px solid #ccc;
    font-size: 90%;
    resize: none;
}

label {
    margin-left: 52%;
}

textarea {
    height: 100px;
}


input[type=checkbox] {
    margin: 10px 5px 10px 0;
    margin-left: 20px;
}

*:focus {
    outline: none;
}


/*--------------------------------------*/
/*---------- FOOTER ------------*/
/*--------------------------------------*/

footer {
    padding: 30px;
    background-color: #333;
    font-size: 80%;
}


.footer_nav {
    display: inline;
    list-style-type: none;
    float: left;
}

.social_links {
    list-style-type: none;
    float: right;
}

.social_links li,
.footer_nav li {
    display: inline-block;
    margin-right: 20px;
}


.social_links li:last-child,
.footer_nav li:last-child {
    margin-right: 0;
}


.footer_nav li a:link,
.footer_nav li a:visited,
.social_links li a:link,
.social_links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s; 
}

.footer_nav li a:hover,
.footer_nav li a:active {
    color: #ddd;
}

.social_links li a:link,
.social_links li a:visited {
    font-size: 150%;
}

.fa-facebook-official,
.fa-twitter,
.fa-instagram,
.fa-google-plus {
    transition: color 0.2s;

}


.fa-facebook-official:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #55acee;
}

.fa-instagram:hover {
    color: #e95950;
}

.fa-google-plus:hover {
   color:#dd4b39; 
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 30px;
    font-size: 85%;
}

footer p:hover {
    color: #000;
}




 
